{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}



{% block content %}
  
<div class="container my-5">
  <div class="row align-middle">
    <div class="col-sm-6">
      <h3>Hi there, I'm</h3>
      <h2>Will Dolezal</h2>
      <p>I discover potential within business data to inform, inspire, and impact. From strategy to augmentation, I deliver revelatory and actionable insights to help your business thrive.</p>
      <a href="/categories.html" role="button" class="btn btn-primary">My Work</a>
    </div>
    <div class="col-sm-6">
      <img class="image-process-article-image" src="/images/smalloldwill.png" />
    </div>
  </div>
</div>
<div id="about-me" class="container my-5">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center pb-4">ABOUT ME</h3>
    </div>
    <div class="col-sm-6 p-2">
      <h4>JUST WHO AM I</h4>
      <p>I'm an effective communicator, which allows me to be successful as I leverage clients' digital assets and data to guide technical SEO and website performance. 
        My passion for understanding new trends enables me to be a creative and adaptive problem solver. A University of Minnesota graduate in Economics, 
        I have over a decade of industry experience in both client and agency settings. My professional experience ranges from small, local businesses to large, 
        international corporations such as SAP Concur. When I'm not crunching on data, you'll likely find me planning future sailing adventures or dreaming about waffles. 
        Someday, I hope to become a published author of a Laffy Taffy joke.
      </p>
    </div>
    <div class="col-sm-6 p-2">
      <h4>WHERE MY TIME GOES</h4>
      <h6 class="pt-2">SEM - Keywords, Ads, Scripts</h6>
      <div class="progress"><div class="progress-bar" role="progressbar" style="width: 0%;"></div></div>
      <h6 class="pt-3">Analytics - Dashboard, Filters, Pixels</h6>
      <div class="progress"><div class="progress-bar" role="progressbar" style="width: 35%;"></div></div>
      <h6 class="pt-3">SEO - Schema, Meta Data, Pagespeed</h6>
      <div class="progress"><div class="progress-bar" role="progressbar" style="width: 55%;"></div></div>
      <h6 class="pt-3">Meetings - Recurring, New Business, 1on1s</h6>
      <div class="progress"><div class="progress-bar" role="progressbar" style="width: 15%;"></div></div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center pb-4">SKILLS</h3>
    </div>
    <div class="col-sm-4 p-1 text-center"><i class="fas fa-cogs fa-3x p-3"></i>
      <h5>Search Engine Optimization</h5>
      <p>Enhancing web property performance in search results. Local to technical search engine optimization. </p>
    </div>
    <div class="col-sm-4 p-1 text-center"><i class="fas fa-flask fa-3x p-3"></i>
      <h5>Conversion Rate Optimization</h5>
      <p>Creating leverage from on-site change to boost performance metrics. From A/B testing to heat maps to user flows. </p>
    </div>
    <div class="col-sm-4 p-1 text-center"><i class="fas fa-bullhorn fa-3x p-3"></i>
      <h5>Search Engine Marketing</h5>
      <p>Strategy, creation, and management of campaigns on Google Ads and Bing Ads. Shopping, display, text, and video. </p>
    </div>
    <div class="col-sm-4 p-1 text-center"><i class="fas fa-pencil-alt fa-3x p-3"></i>
      <h5>Analytics Tracking</h5>
      <p>Set up and maintenance of website analytics and tracking from pageviews to custom user dimensions and cookies. </p>
    </div>
    <div class="col-sm-4 p-1 text-center"><i class="fas fa-chart-line fa-3x p-3"></i>
      <h5>Reporting</h5>
      <p>Static and dynamic dashboards of performance metrics. Supplemental summaries of website performance. </p>
    </div>
    <div class="col-sm-4 p-1 text-center"><i class="fas fa-database fa-3x p-3"></i>
      <h5>Data Analysis</h5>
      <p>Ad hoc analysis of website and business data to provide actionable insights for business leaders using data science techniques. </p>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center pb-4">2024 STATS</h3>
    </div>
    <div class="col-sm-3 p-2 text-center"><i class="fas fa-mug-hot fa-3x p-3"></i>
      <h5>319</h5>
      <h6>BLACK TEAS</h6>
    </div>
    <div class="col-sm-3 p-2 text-center"><i class="fas fa-window-restore fa-3x p-3"></i>
      <h5>38</h5>
      <h6>WEBSITES OPTIMIZED</h6>
    </div>
    <div class="col-sm-3 p-2 text-center"><i class="fab fa-audible fa-3x p-3"></i>
      <h5>23</h5>
      <h6>AUDIO BOOKS</h6>
    </div>
    <div class="col-sm-3 p-2 text-center"><i class="fas fa-search fa-3x p-3"></i>
      <h5>156K</h5>
      <h6>PAGES AUDITED</h6>
    </div>
{% endblock %}
